In [24]:
import pandas as pd
import numpy as np

In [31]:
sub1 = pd.read_csv(
    'E:\\Resources\\My Projects\\Amazom_ML\\Submission_Final\\Submission_Files\\half_subm_img_txt_enc_CA-Fusion.csv')
sub2 = pd.read_csv(
    'E:\\Resources\\My Projects\\Amazom_ML\\Submission_Final\\Submission_Files\\Submission_distilBert_vit_large.csv')
sub3 = pd.read_csv(
    'E:\\Resources\\My Projects\\Amazom_ML\\Submission_Final\\Submission_Files\\Submission_distilRoberta_dinov2-Fusion.csv')
sub4 = pd.read_csv(
    'E:\\Resources\\My Projects\\Amazom_ML\\Submission_Final\\Submission_Files\\Submission-qwendino.csv')
sub5 = pd.read_csv(
    'E:\\Resources\\My Projects\\Amazom_ML\\Submission_Final\\Submission_Files\\Submission_Mlp_GLU_Fusion.csv')
sub6 = pd.read_csv(
    'E:\\Resources\\My Projects\\Amazom_ML\\Submission_Final\\Submission_Files\\SubmissionRobertaFineTuned.csv')

In [32]:
sub5.columns

Index(['sample_id', 'price'], dtype='object')

In [33]:
final_submission = pd.DataFrame()
final_submission['sample_id'] = sub5['sample_id']
final_submission['price'] = (
    sub1['price'] + sub2['price'] + sub3['price'] + sub4['price'] + sub5['price'])/5

In [34]:
final_submission.describe()

           sample_id         price
count   75000.000000  75000.000000
mean   149387.988880     21.101736
std     86763.376732     21.866856
min         1.000000      1.431575
25%     73760.500000      8.283848
50%    149109.500000     14.396905
75%    224529.750000     25.172824
max    299439.000000    217.203979

In [35]:
sub3.describe()

           sample_id         price
count   75000.000000  75000.000000
mean   149387.988880     21.284942
std     86763.376732     25.095467
min         1.000000      2.222948
25%     73760.500000      7.110575
50%    149109.500000     13.083290
75%    224529.750000     24.912487
max    299439.000000    181.714462

In [36]:
final_submission.to_csv('FinalEnsembleSubmission.csv', index=False)

In [37]:
final_submission

       sample_id      price
0         100179  15.578362
1         245611  10.902656
2         146263  21.961123
3          95658   6.621605
4          36806  31.396501
...          ...        ...
74995      93616   4.617707
74996     249434  12.730202
74997     162217   3.497768
74998     230487  14.818935
74999     279477  11.163867

[75000 rows x 2 columns]